<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>
<body>
    <h1>Registracija</h1>
    {{greska}}
    <form action="/register" method="POST">
        <p>
            <label for="email">Email</label>
            <input type="email" name="email">
        </p>

        <p>
            <label for="sifra">Sifra</label>
            <input type="password" name="sifra">
        </p>

        <p>
            <label for="potvrda">Potvrda</label>
            <input type="password" name="potvrda">
        </p>

        <p>
            <label for="ime_prezime">Ime i prezime</label>
            <input type="text" name="ime_prezime">
        </p>

        <p>
            <label for="godina_rodjenja">Godina rodjenja</label>
            <input type="number" name="godina_rodjenja">
        </p>

        <p>
            <label for="pol">Pol</label>
            <input type="radio" name="pol" value="Muski" checked> M
            <input type="radio" name="pol" value="Zenski"> Z
        </p>
        <p>
            <input type="submit" value="Registruj se ">
        </p>

        
    </form>
</body>
</html>